{% extends "inicio.html" %}

{% block titulo %}
MUNDO BASKET
{% endblock titulo %}

{% block contenido %}
<body>
    <div class="container" style="background-color: blue;">
        <div class="container text-center" style="background-color: black; font-style: italic; color: white;">
            <h1>MUNDO BASKET</h1>
        </div>
        <div class="container text-center" style="background-color: black; font-style: italic; color: white;">
            <h2>Sitio con información sobre la naranja</h2>
        </div>
    </div>    
</body>
{% endblock contenido %}